<!DOCTYPE html>
<html lang='en'>
  <head>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
    
  <body>
    <div class="row">
        <div class="col s12 m7 center-align">
          <div class="card large center-align">
            <div class="card-image">
              <img src="public/images/pool.jpeg">
              <span class="card-title">Join Us</span>
            </div>
            <div class="card-content">
              <p>SwimFast is a website where swimmers can find swim specific workout plans when training without an instructor. We provide workouts for swimmers of all skill levels to have easy access to premade custom-made workouts.</p>
            </div>
          </div>
        </div>
      </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>